*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.nav-link{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #000001b0;
    overflow-x: hidden;
    padding-top: 30px;
}

.nav-link li a{
    padding: 16px;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    display: block;
    text-align: justify;
}

.nav-link li a:hover{
    font-weight: 700;
    background-color: yellow;
    color: #000;
}

.logo img{
    height: 80px;
}
